<button (click)="Logout()" class="btn btn-danger"> Logout</button>
  <table style="margin-left: 10px" class="table table-striped table-bordered">
    <thead>
    <tr>
      <th>ID</th>
      <th>TITLE</th>
      <th>START DATE</th>
      <th>END DATE</th>
      <th>AMOUNT</th>
      <th>COUPON TYPE</th>
      <th>MESSAGE</th>
      <th>PRICE</th>
      <th>IMAGE LINK</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor ="let coupon of couponsList">
      <td>{{coupon.id}}</td>
      <td>{{coupon.title}}</td>
      <td>{{coupon.startDate}}</td>
      <td>{{coupon.endDate}}</td>
      <td>{{coupon.amount}}</td>
      <td>{{coupon.type}}</td>
      <td>{{coupon.message}}</td>
      <td>{{coupon.price}}</td>
      <td>{{coupon.image}} </td>
      <td> <button class="btn btn-success btn-sm" title="purchase"
        (click)="purchaseCoupon(coupon)">Purchase Coupon</button></td>
      </tbody>
  </table>
  

    <!-- <br>
    <form>
    <input type="text" name = "price" [(ngModel)]="newCoupon.type" [(ngModel)]="newCoupon.endDate" [(ngModel)]="newCoupon.price" size="25px" placeholder="Enter coupon price">
    <br>
    <br>
    <br>
    <button class="btn btn-primary" (click)="getAllMyCouponsByPrice(newCoupon.price)">
        <b> Get Coupons by Price! </b>
    </button>
    <br>
    <br>
    <button class="btn btn-primary" (click)="getAllMyCouponsByType(newCoupon.type)">
        <b> Get Coupons by Type! </b>
    </button>
    <br>
    <br>
    <button class="btn btn-primary" (click)="getAllMyCouponsByDate(newCoupon.endDate)">
        <b> Get Coupons by End Date! </b>
    </button>
    </form> -->

    <form class="form-horizontal" style="margin-left: 20px">
      <div class="form-group">
          <label class="control-label col-sm-2"> Insert coupon price, type or end date: </label>
          <div class="col-sm-6">
          <input class="form-control" type="text" name = "search" [(ngModel)]="newCoupon.type" [(ngModel)]="newCoupon.endDate" [(ngModel)]="newCoupon.price" placeholder="Enter coupon price date or type">
        </div>
        </div>

        <div class="col-sm-offset-2 col-sm-10">
            <button (click)="getAllMyCouponsByPrice(newCoupon.price)">
              <b> Get coupons by price </b>
            </button>
            </div>
            <div class="col-sm-offset-2 col-sm-10">
                <button (click)="getAllMyCouponsByType(newCoupon.type)">
                  <b> Get coupons by type </b>
                </button>
                </div>
                <div class="col-sm-offset-2 col-sm-10">
                  <button (click)="getAllMyCouponsByDate(newCoupon.endDate)">
                    <b> Get coupons by end date </b>
                  </button>
                  </div>
          </form> 
  
  <table style="margin-left: 10px" class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>ID</th>
        <th>TITLE</th>
        <th>START DATE</th>
        <th>END DATE</th>
        <th>AMOUNT</th>
        <th>COUPON TYPE</th>
        <th>MESSAGE</th>
        <th>PRICE</th>
        <th>IMAGE LINK</th>         
      </tr>
    </thead>
    <tbody>
      <tr *ngFor ="let newCoupon of newCoupons">
        <td>{{newCoupon.id}}</td>
        <td>{{newCoupon.title}}</td>
        <td>{{newCoupon.startDate}}</td>
        <td>{{newCoupon.endDate}}</td>
        <td>{{newCoupon.amount}}</td>
        <td>{{newCoupon.type}}</td>
        <td>{{newCoupon.message}}</td>
        <td>{{newCoupon.price}}</td>
        <td>{{newCoupon.image}} </td>
         
      </tr>
    </tbody>
  </table>
  
<h2>My coupons</h2>
  <table style="margin-left: 10px" class="table table-striped table-bordered">
    <thead>
    <tr>
      <th>ID</th>
      <th>TITLE</th>
      <th>START DATE</th>
      <th>END DATE</th>
      <th>AMOUNT</th>
      <th>COUPON TYPE</th>
      <th>MESSAGE</th>
      <th>PRICE</th>
      <th>IMAGE LINK</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor ="let coupon of coupons">
      <td>{{coupon.id}}</td>
      <td>{{coupon.title}}</td>
      <td>{{coupon.startDate}}</td>
      <td>{{coupon.endDate}}</td>
      <td>{{coupon.amount}}</td>
      <td>{{coupon.type}}</td>
      <td>{{coupon.message}}</td>
      <td>{{coupon.price}}</td>
      <td>{{coupon.image}} </td>
      </tbody>
  </table>
  
  
